Repository Joven-G/restaurant-react: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:basket_api, build:order_api, build:identity_api, build:menu_api

.gitlab-ci.yml:

services:
- docker:dind

stages:
- build & test
- deploy
- finalize build

variables:
  IMAGE_BASE_NAME: registry.gitlab.com/jurabek/restaurant-app
  DOCKER_DRIVER: overlay2

# .before_script_docker_login: &login_to_docker
#   before_script:
#   - docker login registry.gitlab.com -u "$DOCKER_USER_NAME" -p $DOCKER_PASSWORD
    

before_script:
  - apk add --no-cache curl
  - export GRADLE_USER_HOME=$(pwd)/.gradle
  - export NUGET_PACKAGES=$(pwd)/.nuget
  - export GOPATH=$(pwd)/go
  - pwd
  - cd src/Server/
  - chmod -R +x ci/
    
build:basket_api:
  before_script:
    - sh src/Server/services/basket.api/install_ci_dependencies.sh
  image: golang:1.11-alpine
  stage: build & test
  script:
    - ci/update_build_badge.sh running basket_api
    - echo "failure" > basket_status.txt #https://gitlab.com/gitlab-org/gitlab-runner/issues/3088
    - ci/build.sh basket_api
    - echo "success" > basket_status.txt
  after_script:
    - cd src/Server/
    - ci/update_build_badge.sh `cat basket_status.txt` basket_api
  cache:
    key: go-cache
    paths:
      - go
  only:
    changes:
      - src/Server/services/basket.api/**/*
  artifacts:
    untracked: true
    when: always
    paths:
      - src/Server/public/badges/
  
build:order_api:
  image: openjdk:8-jdk-alpine
  stage: build & test
  script:
    - ci/update_build_badge.sh running order_api
    - echo "failure" > order_status.txt
    - ci/build.sh order_api
    - ci/qa.sh order_api
    - echo "success" > order_status.txt
  after_script:
    - cd src/Server/
    - ci/update_build_badge.sh `cat order_status.txt` order_api
  cache:
    key: gradle-cache
    paths:
     - .gradle/wrapper
     - .gradle/caches
  only:
    changes:
      - src/Server/services/order.api/**/*
  artifacts:
    untracked: true
    when: always
    paths:
      - src/Server/public/badges/

build:identity_api:
  image: microsoft/dotnet:2.2-sdk-alpine
  stage: build & test
  script:
    - ci/update_build_badge.sh running identity_api
    - echo "failure" > identity_status.txt
    - ci/qa.sh identity_api
    - ci/build.sh identity_api
    - echo "success" > identity_status.txt
  after_script:
    - cd src/Server/
    - ci/update_build_badge.sh `cat identity_status.txt` identity_api
  cache:
    key: dotnet-cache
    policy: pull
    paths:
      - .nuget/
  only:
    changes:
      - src/Server/services/identity.api/**/*
  artifacts:
    untracked: true
    when: always
    paths:
      - src/Server/public/badges/

build:menu_api:
  image: microsoft/dotnet:2.2-sdk-alpine
  stage: build & test
  script:
    - ci/update_build_badge.sh running menu_api
    - echo "failure" > menu_status.txt
    - ci/qa.sh menu_api
    - ci/build.sh menu_api
    - echo "success" > menu_status.txt
  after_script:
    - cd src/Server/
    - ci/update_build_badge.sh `cat menu_status.txt` menu_api
  cache:
    key: dotnet-cache
    policy: pull
    paths:
      - .nuget/
  only:
    changes:
      - src/Server/services/menu.api/**/*
  artifacts:
    untracked: true
    when:
      always
    paths:
      - src/Server/public/badges/

pages:
  before_script: []
  stage: finalize build
  script:
    - echo "Deploying badges"
  artifacts:
    paths:
      - public/
  only:
    - develop

gitlab.ci fixes
  .gitlab-ci.yml
  src/Server/ci/update_build_badge.sh
Due: none

Go proxy configured
  src/Server/services/basket.api/Dockerfile
  src/Server/services/basket.api/build.sh
Due: build:basket_api

Gitlab pipeline improvements
  .gitlab-ci.yml
Due: none

gitlab pipelines improvements
  .gitlab-ci.yml
  src/Server/ci/docker/dotnet-alpine.Dockerfile
  src/Server/ci/docker/go1.11-alpine.Dockerfile
  src/Server/ci/docker/openjdk8-alpine.Dockerfile
  src/Server/ci/docker/pre_install_images.sh
  src/Server/ci/update_build_badge.sh
  src/Server/ci/upload_badge_s3.sh
  src/Server/services/identity.api/qa.sh
Due: build:identity_api

CI build problems
  src/Server/ci/build.sh
  src/Server/ci/docker/dotnet-alpine.Dockerfile
  src/Server/services/identity.api/build.sh
  src/Server/services/menu.api/build.sh
Due: build:identity_api, build:menu_api

gitlab pipeline improvements
  src/Server/services/identity.api/build.sh
  src/Server/services/identity.api/qa.sh
  src/Server/services/menu.api/build.sh
  src/Server/services/menu.api/qa.sh
Due: build:identity_api, build:menu_api

docker hub changed into gitlab registry
  .gitlab-ci.yml
  src/Server/ci/docker-build-images/dotnet-alpine.Dockerfile
  src/Server/ci/docker-build-images/go1.11-alpine.Dockerfile
  src/Server/ci/docker-build-images/openjdk8-alpine.Dockerfile
  src/Server/ci/docker-build-images/pre_install_images.sh
  src/Server/ci/docker/pre_install_images.sh
  src/Server/services/menu.api/Dockerfile.ci-test
Due: build:menu_api

docker login issue
  .gitlab-ci.yml
Due: none

gitlab ci issues
  .gitlab-ci.yml
Due: none

gitlab ci fails
  .gitlab-ci.yml
Due: none

gitlab changes
  .gitlab-ci.yml
Due: none

gitlab ci changes
  .gitlab-ci.yml
Due: none

gitlab ci changes
  .gitlab-ci.yml
  src/Server/ci/docker-build-images/dotnet-alpine.Dockerfile
  src/Server/ci/docker-build-images/go1.11-alpine.Dockerfile
  src/Server/ci/docker-build-images/openjdk8-alpine.Dockerfile
  src/Server/ci/docker-build-images/pre_install_images.sh
Due: none

gitlab ci docker changes
  src/Server/ci/docker-build-images/dotnet-alpine.Dockerfile
  src/Server/ci/docker-build-images/openjdk8-alpine.Dockerfile
Due: none

basket-api QA script added
  .gitlab-ci.yml
Due: none

gitlab ci improvements
  .gitlab-ci.yml
  src/Server/services/basket.api/sonar-project.properties
  src/Server/services/identity.api/qa.sh
Due: build:basket_api, build:identity_api

Foods list view changed into CollectionView
  src/Client/Restaurant.Client/Restaurant.Droid/MainActivity.cs
  src/Client/Restaurant.Client/Restaurant.Droid/Resources/Resource.Designer.cs
  src/Client/Restaurant.Client/Restaurant.Droid/Restaurant.Droid.csproj
  src/Client/Restaurant.Client/Restaurant.Mobile.UI/Pages/FoodsPage.xaml
  src/Client/Restaurant.Client/Restaurant.Mobile.UI/Pages/FoodsPage.xaml.cs
  src/Client/Restaurant.Client/Restaurant.Mobile.UI/Restaurant.Mobile.UI.csproj
  src/Client/Restaurant.Client/Restaurant.Mobile.UI/Views/FoodsListView.xaml
  src/Client/Restaurant.Client/Restaurant.Mobile.UI/Views/FoodsListView.xaml.cs
  src/Client/Restaurant.Client/Restaurant.iOS/AppDelegate.cs
  src/Client/Restaurant.Client/Restaurant.iOS/Restaurant.iOS.csproj
Due: none

dashboard app changes
  README.md
  src/Server/services/identity.api/Identity.API/Controllers/SecurityHeadersAttribute.cs
  src/Server/services/identity.api/Identity.API/IdentityServer/Config.cs
  src/Server/services/identity.api/Identity.API/Providers/LoginProvider.cs
  src/Server/web/web.admin/dashboard/package.json
  src/Server/web/web.admin/dashboard/src/app/app.module.ts
  src/Server/web/web.admin/dashboard/src/app/components/account/account.module.ts
  src/Server/web/web.admin/dashboard/src/app/components/account/login/login.component.html
  src/Server/web/web.admin/dashboard/src/app/components/account/login/login.component.ts
  src/Server/web/web.admin/dashboard/src/app/components/auth-callback/auth-callback.component.ts
  src/Server/web/web.admin/dashboard/src/app/components/categories/add/add.component.ts
  src/Server/web/web.admin/dashboard/src/app/components/categories/list/list.component.css
  src/Server/web/web.admin/dashboard/src/app/components/categories/list/list.component.ts
  src/Server/web/web.admin/dashboard/src/app/components/foods/add/add.component.ts
  src/Server/web/web.admin/dashboard/src/app/components/foods/list/list.component.css
  src/Server/web/web.admin/dashboard/src/app/components/foods/list/list.component.html
  src/Server/web/web.admin/dashboard/src/app/config/constants.ts
  src/Server/web/web.admin/dashboard/src/app/models/instances.ts
  src/Server/web/web.admin/dashboard/src/app/services/auth.service.ts
  src/Server/web/web.admin/dashboard/src/app/services/storage.service.ts
  src/Server/web/web.admin/dashboard/src/index.html
Due: build:identity_api

fixed basket api auhtentication for swagger
  src/Server/services/basket.api/controllers/basket_controller.go
  src/Server/services/basket.api/docs/docs.go
  src/Server/services/basket.api/main.go
  src/Server/services/basket.api/middlewares/auth.go
Due: build:basket_api

Dashboard APP: Delete food functionality and k8s deployment added
  src/Server/web/web.admin/dashboard/Dockerfile
  src/Server/web/web.admin/dashboard/nginx.conf
  src/Server/web/web.admin/dashboard/src/app/components/categories/add/add.component.ts
  src/Server/web/web.admin/dashboard/src/app/components/categories/list/list.component.ts
  src/Server/web/web.admin/dashboard/src/app/components/foods/add/add.component.html
  src/Server/web/web.admin/dashboard/src/app/components/foods/add/add.component.ts
  src/Server/web/web.admin/dashboard/src/app/components/foods/list/list.component.ts
  src/Server/web/web.admin/dashboard/src/app/services/auth.service.ts
  src/Server/web/web.admin/dashboard/src/environments/environment.local-docker.ts
Due: none

k8s changes
  src/Client/Restaurant.Client/Restaurant.Core/ViewModels/BaseViewModel.cs
  src/Server/ci/release.sh
  src/Server/docker-compose.override.yml
  src/Server/gateway/restaurant-gateway/src/main/resources/application.yml
  src/Server/k8s/README.md
  src/Server/k8s/deploy.sh
  src/Server/k8s/deployment.yml
  src/Server/k8s/docker-setup/admin-user.yml
  src/Server/k8s/docker-setup/ingress-config-map.yml
  src/Server/k8s/ingress.yml
  src/Server/k8s/internal-urls.yml
  src/Server/k8s/pgsql-data.yml
  src/Server/k8s/redis-data.yml
  src/Server/k8s/services.yml
  src/Server/services/basket.api/docs/swagger.json
  src/Server/services/basket.api/docs/swagger.yaml
  src/Server/services/identity.api/.dockerignore
  src/Server/services/identity.api/Identity.API/Data/ConfigurationDbContextSeed.cs
  src/Server/services/identity.api/Identity.API/IdentityServer/Config.cs
  src/Server/services/identity.api/Identity.API/appsettings.Development.json
  src/Server/services/identity.api/Identity.API/appsettings.json
  src/Server/services/menu.api/Menu.API/appsettings.Development.json
  src/Server/services/menu.api/Menu.API/appsettings.json
  src/Server/services/order.api/src/main/java/com/jurabek/restaurant/order/api/config/SecurityConfig.java
  src/Server/services/order.api/src/main/java/com/jurabek/restaurant/order/api/config/SwaggerConfig.java
  src/Server/web/web.admin/dashboard/src/environments/environment.prod.ts
Due: build:basket_api, build:order_api, build:identity_api, build:menu_api

istio added and tested on default namespace
  src/Client/Restaurant.Client/Restaurant.Droid/Resources/Resource.Designer.cs
  src/Server/k8s/deploy.sh
  src/Server/k8s/deployment.yml
  src/Server/k8s/ingress.yml
  src/Server/k8s/pgsql-data.yml
  src/Server/k8s/port-forward-istio-dashboards.sh
  src/Server/k8s/redis-data.yml
  src/Server/services/basket.api/config/configuration.go
  src/Server/services/basket.api/controllers/basket_controller.go
  src/Server/services/basket.api/docs/docs.go
  src/Server/services/basket.api/docs/swagger.json
  src/Server/services/basket.api/docs/swagger.yaml
  src/Server/services/basket.api/eureka/eurekaclient.go
  src/Server/services/basket.api/main.go
  src/Server/services/basket.api/run.sh
  src/Server/services/menu.api/Menu.API/Menu.API.csproj
  src/Server/services/order.api/qa.sh
  src/Server/services/order.api/src/main/java/com/jurabek/restaurant/order/api/config/SecurityConfig.java
  src/Server/services/order.api/src/main/java/com/jurabek/restaurant/order/api/controllers/OrdersController.java
  src/Server/services/order.api/src/main/java/com/jurabek/restaurant/order/api/repostitories/OrdersRepository.java
  src/Server/services/order.api/src/main/java/com/jurabek/restaurant/order/api/services/CustomerBasketService.java
  src/Server/services/order.api/src/main/java/com/jurabek/restaurant/order/api/services/CustomerBasketServiceIml.java
  src/Server/services/order.api/src/main/java/com/jurabek/restaurant/order/api/services/OrdersService.java
  src/Server/services/order.api/src/main/java/com/jurabek/restaurant/order/api/services/OrdersServicesIml.java
  src/Server/services/order.api/src/main/resources/application.properties
  src/Server/services/order.api/src/test/java/com/jurabek/restaurant/order/api/controllers/OrdersControllerTests.java
  src/Server/services/order.api/src/test/java/com/jurabek/restaurant/order/api/services/OrdersServiceTests.java
Due: build:basket_api, build:order_api, build:menu_api

Spring Boot 2.2 upgrade Swagger Auth URL override Istio Ingress Gateway added with VirtualServices Docker OpenJDK using OpenJ9 to improving perforamance in the cloud
  src/Server/ci/release.sh
  src/Server/docker-compose-nginx.yml
  src/Server/docker-compose.override.yml
  src/Server/gateway/.dockerignore
  src/Server/gateway/Dockerfile
  src/Server/gateway/nginx.conf
  src/Server/gateway/restaurant-gateway/Dockerfile.local
  src/Server/k8s/deployment.yml
  src/Server/k8s/ingress.yml
  src/Server/k8s/istio/gateway.yml
  src/Server/k8s/istio/istio-gateway.sh
  src/Server/k8s/istio/port-forward-istio-dashboards.sh
  src/Server/k8s/istio/setup-istio.sh
  src/Server/k8s/port-forward-istio-dashboards.sh
  src/Server/services/basket.api/Dockerfile
  src/Server/services/basket.api/docs/docs.go
  src/Server/services/basket.api/docs/fix.go
  src/Server/services/basket.api/docs/swagger.json
  src/Server/services/basket.api/docs/swagger.yaml
  src/Server/services/basket.api/go.mod
  src/Server/services/basket.api/main.go
  src/Server/services/basket.api/run.sh
  src/Server/services/identity.api/Identity.API/Identity.API.csproj
  src/Server/services/menu.api/Menu.API/Menu.API.csproj
  src/Server/services/order.api/Dockerfile.local
  src/Server/services/order.api/build.gradle
  src/Server/services/order.api/gradle/wrapper/gradle-wrapper.jar
  src/Server/services/order.api/gradle/wrapper/gradle-wrapper.properties
  src/Server/services/order.api/gradlew
  src/Server/services/order.api/gradlew.bat
  src/Server/services/order.api/src/main/java/com/jurabek/restaurant/order/api/config/SwaggerConfig.java
  src/Server/services/order.api/src/main/java/com/jurabek/restaurant/order/api/services/CustomerBasketServiceIml.java
  src/Server/services/order.api/src/main/resources/application.properties
  src/Server/web/web.admin/dashboard/Dockerfile
Due: build:basket_api, build:order_api, build:identity_api, build:menu_api

Sonarqube for PR
  .gitlab-ci.yml
  src/Server/services/basket.api/qa.sh
  src/Server/services/basket.api/sonar-project.properties
  src/Server/services/identity.api/qa.sh
  src/Server/services/menu.api/qa.sh
  src/Server/services/order.api/qa.sh
Due: build:basket_api, build:order_api, build:identity_api, build:menu_api

Sonarqube for PR
  .gitlab-ci.yml
  src/Server/services/basket.api/qa.sh
  src/Server/services/identity.api/qa.sh
  src/Server/services/menu.api/qa.sh
  src/Server/services/order.api/qa.sh
Due: build:basket_api, build:order_api, build:identity_api, build:menu_api

Sonarqube for PR
  src/Server/services/basket.api/qa.sh
  src/Server/services/identity.api/qa.sh
  src/Server/services/menu.api/qa.sh
  src/Server/services/order.api/qa.sh
Due: build:basket_api, build:order_api, build:identity_api, build:menu_api

Sonarqube Github PR update
  src/Server/ci/docker-build-images/go1.11-alpine.Dockerfile
  src/Server/services/basket.api/qa.sh
  src/Server/services/identity.api/qa.sh
  src/Server/services/menu.api/qa.sh
  src/Server/services/order.api/qa.sh
Due: build:basket_api, build:order_api, build:identity_api, build:menu_api

Sonarqube Github PR update with Sonar Github App
  azure-pipelines.yml
  src/Server/services/basket.api/qa.sh
  src/Server/services/basket.api/sonar-project.properties
  src/Server/services/identity.api/qa.sh
  src/Server/services/menu.api/qa.sh
  src/Server/services/order.api/qa.sh
Due: build:basket_api, build:order_api, build:identity_api, build:menu_api

Eureka removed from build scripts
  src/Server/services/basket.api/qa.sh
  src/Server/services/basket.api/test.sh
Due: build:basket_api

basket_api_build_problem_fixed
  azure-pipelines.yml
  src/Server/services/basket.api/qa.sh
Due: build:basket_api

deployment problem
  src/Server/ci/release.sh
  src/Server/k8s/deploy.sh
  src/Server/k8s/deployment.yml
  src/Server/services/basket.api/main.go
  src/Server/services/basket.api/reports/coverage.html
Due: build:basket_api

Added more auto unit tests for POJO classes
  src/Server/services/menu.api/Menu.API.UnitTests/DataTransferObjects/CategoryDtoTest.cs
  src/Server/services/menu.api/Menu.API.UnitTests/DataTransferObjects/FoodDtoTest.cs
  src/Server/services/menu.api/qa.sh
  src/Server/services/order.api/build.gradle
  src/Server/services/order.api/gradle/wrapper/gradle-wrapper.properties
  src/Server/services/order.api/qa.sh
  src/Server/services/order.api/src/main/java/com/jurabek/restaurant/order/api/dtos/CustomerOrderDto.java
  src/Server/services/order.api/src/test/java/com/jurabek/restaurant/order/api/dtos/CustomerBasketDtoTest.java
  src/Server/services/order.api/src/test/java/com/jurabek/restaurant/order/api/dtos/CustomerBasketItemDtoTest.java
  src/Server/services/order.api/src/test/java/com/jurabek/restaurant/order/api/dtos/CustomerOrderDtoTest.java
  src/Server/services/order.api/src/test/java/com/jurabek/restaurant/order/api/dtos/CustomerOrderItemsDtoTest.java
  src/Server/services/order.api/src/test/java/com/jurabek/restaurant/order/api/models/OrderItemsTest.java
Due: build:order_api, build:menu_api

Basket API in Github Actions
  .github/workflows/basket-api.yml
Due: none

Basket API in github actions
  .github/workflows/basket-api.yml
  src/Server/services/order.api/src/test/java/com/jurabek/restaurant/order/api/dtos/CustomerBasketDtoTest.java
Due: build:order_api

Basket API in github actions
  .github/workflows/basket-api.yml
Due: none

Update basket-api.yml
  .github/workflows/basket-api.yml
Due: none
