Repository Joven-G/restaurant-react: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:basket_api, build:order_api, build:identity_api, build:menu_api

.gitlab-ci.yml:

image: docker:git
services:
- docker:dind

stages:
- build & test
- deploy

variables:
  IMAGE_BASE_NAME: registry.gitlab.com/jurabek/restaurant-app
  DOCKER_DRIVER: overlay2
  
before_script:
  - docker login registry.gitlab.com -u "$DOCKER_USER_NAME" -p $DOCKER_PASSWORD
  - export GRADLE_USER_HOME=$(pwd)/.gradle
  - export NUGET_PACKAGES=$(pwd)/.nuget
  - export GOPATH=$(pwd)/go
  - cd src/Server/
  - chmod -R +x ci/
    
build:basket_api:
  image: $IMAGE_BASE_NAME/golang:1.11-alpine
  stage: build & test
  script:
    - sh services/basket.api/install_ci_dependencies.sh
    - ci/update_build_badge.sh running basket_api
    - echo "failure" > basket_status.txt #https://gitlab.com/gitlab-org/gitlab-runner/issues/3088
    - ci/build.sh basket_api
    - echo "success" > basket_status.txt
  after_script:
    - cd src/Server/
    - ci/update_build_badge.sh `cat basket_status.txt` basket_api
  cache:
    key: go-cache
    paths:
      - go/pkg/mod
  only:
    changes:
      - src/Server/services/basket.api/**/*
  
build:order_api:
  image: $IMAGE_BASE_NAME/openjdk:8-jdk-alpine
  stage: build & test
  script:
    - ci/update_build_badge.sh running order_api
    - echo "failure" > order_status.txt
    - ci/build.sh order_api
    - ci/qa.sh order_api
    - echo "success" > order_status.txt
  after_script:
    - cd src/Server/
    - ci/update_build_badge.sh `cat order_status.txt` order_api
  cache:
    key: gradle-cache
    paths:
     - .gradle/wrapper
     - .gradle/caches
  only:
    changes:
      - src/Server/services/order.api/**/*

build:identity_api:
  image: $IMAGE_BASE_NAME/dotnet-sdk:2.2-alpine
  stage: build & test
  script:
    - ci/update_build_badge.sh running identity_api
    - echo "failure" > identity_status.txt
    - ci/qa.sh identity_api
    - ci/build.sh identity_api
    - echo "success" > identity_status.txt
  after_script:
    - cd src/Server/
    - ci/update_build_badge.sh `cat identity_status.txt` identity_api
  cache:
    key: dotnet-cache
    paths:
      - .nuget/
  only:
    changes:
      - src/Server/services/identity.api/**/*

build:menu_api:
  image: $IMAGE_BASE_NAME/dotnet-sdk:2.2-alpine
  stage: build & test
  script:
    - ci/update_build_badge.sh running menu_api
    - echo "failure" > menu_status.txt
    - ci/qa.sh menu_api
    - ci/build.sh menu_api
    - echo "success" > menu_status.txt
  after_script:
    - cd src/Server/
    - ci/update_build_badge.sh `cat menu_status.txt` menu_api
  cache:
    key: dotnet-cache
    paths:
      - .nuget/
  only:
    changes:
      - src/Server/services/menu.api/**/*
  artifacts:
    when:
      always
    paths:
      - public/

Basket API in github actions
  .github/workflows/basket-api.yml
  src/Server/services/basket.api/Dockerfile.ci
Due: build:basket_api

Basket API in github actions
  .github/workflows/basket-api.yml
Due: none

Basket API docker build in Github Actions
  .github/workflows/basket-api.yml
Due: none

Basket API workflow fixes
  .github/workflows/basket-api.yml
Due: none

Add sonarqube
  .github/workflows/basket-api.yml
  src/Server/services/basket.api/qa.sh
Due: build:basket_api

Add sonarqube issue fixed
  .github/workflows/basket-api.yml
Due: none

Workflow fixed
  .github/workflows/basket-api.yml
Due: none

Sonar scanner pre build docker image
  .github/workflows/basket-api.yml
  .gitlab-ci.yml
  src/Server/services/order.api/build.gradle
  src/Server/services/order.api/src/main/java/com/jurabek/restaurant/order/api/config/DefaultConfig.java
  src/Server/services/order.api/src/main/java/com/jurabek/restaurant/order/api/config/SecurityConfig.java
  src/Server/services/order.api/src/main/java/com/jurabek/restaurant/order/api/config/SwaggerConfig.java
  src/Server/services/order.api/src/main/java/com/jurabek/restaurant/order/api/controllers/OrdersController.java
  src/Server/services/order.api/src/main/java/com/jurabek/restaurant/order/api/dtos/CustomerBasketDto.java
  src/Server/services/order.api/src/main/java/com/jurabek/restaurant/order/api/repostitories/OrderItemsRepository.java
  src/Server/services/order.api/src/main/java/com/jurabek/restaurant/order/api/services/CustomerBasketServiceIml.java
  src/Server/services/order.api/src/main/resources/application.properties
  src/Server/services/order.api/src/main/resources/application.yml
  src/Server/services/order.api/src/test/java/com/jurabek/restaurant/order/api/services/CustomerBasketServiceTests.java
Due: build:order_api

Sonar scanner pre build docker image
  .github/workflows/basket-api.yml
Due: none

Sonar scanner
  .github/workflows/basket-api.yml
Due: none

Order api improvements
  .github/workflows/menu-api.yml
  src/Server/services/order.api/Dockerfile.local
  src/Server/services/order.api/build.gradle
  src/Server/services/order.api/src/main/java/com/jurabek/restaurant/order/api/config/DefaultConfig.java
  src/Server/services/order.api/src/main/java/com/jurabek/restaurant/order/api/config/EndpointsConfiguration.java
  src/Server/services/order.api/src/main/java/com/jurabek/restaurant/order/api/config/ModelMapperConfig.java
  src/Server/services/order.api/src/main/java/com/jurabek/restaurant/order/api/config/SecurityConfig.java
  src/Server/services/order.api/src/main/java/com/jurabek/restaurant/order/api/config/SwaggerConfig.java
  src/Server/services/order.api/src/main/java/com/jurabek/restaurant/order/api/dtos/CustomerOrderDto.java
  src/Server/services/order.api/src/main/java/com/jurabek/restaurant/order/api/mappers/CustomerBasketToOrderMap.java
  src/Server/services/order.api/src/main/java/com/jurabek/restaurant/order/api/mappers/OrderToCustomerOrderDtoMap.java
  src/Server/services/order.api/src/main/java/com/jurabek/restaurant/order/api/services/CustomerBasketServiceIml.java
  src/Server/services/order.api/src/main/java/com/jurabek/restaurant/order/api/services/OrdersServicesIml.java
  src/Server/services/order.api/src/main/resources/application.yml
  src/Server/services/order.api/src/test/java/com/jurabek/restaurant/order/api/services/CustomerBasketServiceTests.java
Due: build:order_api

Update menu-api.yml
  .github/workflows/menu-api.yml
Due: none

Github actions pipeline per folder
  .github/workflows/basket-api.yml
  .github/workflows/menu-api.yml
  src/Server/.gitlab-ci.yml
  src/Server/k8s/sample.yml
  src/Server/k8s/set-local-docker-to-minikube.sh
  src/Server/services/menu.api/qa.sh
Due: build:menu_api

dotnet sonar scanner permission denied problem
  src/Server/services/menu.api/qa.sh
Due: build:menu_api

Actions dotnet global tools issue
  .github/workflows/menu-api.yml
  src/Server/services/menu.api/qa.sh
Due: build:menu_api

SonarQube disable for Menu API
  .github/workflows/menu-api.yml
Due: none

order-api working directory missing
  .github/workflows/order-api.yml
Due: none

GITHUB_TOKEN problem fixed
  .github/workflows/order-api.yml
Due: none

badges are updated
  .github/workflows/identity-api.yml
  .github/workflows/menu-api.yml
  .github/workflows/order-api.yml
  README.md
Due: none

Updated README.md
  README.md
  src/backend/services/identity.api/Identity.API/Startup.cs
  src/backend/services/menu.api/Menu.API/Startup.cs
Due: none
